<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">    


    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>Chudi Tour and Travel - Contact</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="/"><img src="images/logo.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#header">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#intro">INTRO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#services">SERVICES</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="/#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/about">
                        <span class="item-text">About</span>
                    </a>
                    <a class="dropdown-item page-scroll" href="/#team">
                        <span class="item-text">Team</span>
                    </a>
                    <a class="dropdown-item page-scroll" href="/#testimonials">
                        <span class="item-text">Testimonials</span>
                    </a>
                </div>
            </li>
            <!-- end of dropdown menu -->
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#callMe">CALL US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/places">PLACES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll active" href="/contact">CONTACT</a>
            </li> 
        </ul>
        <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <span class="hexagon"></span>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
    </div>
</nav>
<!-- end of navbar -->

<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<!-- Contact -->
<div id="contact" class="form-2">
    <div class="container mt-0">
        <div class="row mt-0">
            <div class="col-lg-6">
                <div class="text-container">
                    <!-- <div class="section-title">CONTACT</div> -->
                    <h2>Contact Information</h2>
                    <p>You can stop by our office for a cup of coffee and just use the contact form below for any questions and inquiries</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Head office</li>
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Bole Medihaniyalem, LG building, 9th floor, Addis Ababa, Ethiopia</li>
                        <li><i class="fas fa-phone"></i><a href="tel:+251-116671647">+251-116671647</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:+251-911490520">+251-911490520</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:chuditrading@gmail.com">chuditrading@gmail.com</a></li>
                    </ul>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Branch Offices</li>
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Awash international Bank 3rd floor office No.3 Kebele 12, Adama City , Ethiopia</li>
                        <li><i class="fas fa-phone"></i><a href="tel:+251-116671647">+251-221 12 72 03</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:+251-911490520">+251-964383838</a></li>
                    </ul>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Bole around japan embassy, Genet Lemat bulding 2nd floor, Addis Ababa, Ethiopia </li>
                        <li><i class="fas fa-phone"></i><a href="tel:+251-116671647">+251-116161617</a></li>
                        <li><i class="fas fa-p.o.box"></i><a href="tel:+251-911490520">P.O. Box: 10134</a></li>
                    </ul>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Contact Us</li>
                        <li><i class="fas fa-phone"></i><a href="tel:+251-911490520">+251-900276027</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:chuditrading@gmail.com">info@chuditrading.com</a></li>
                    </ul>
                    <h3>Follow CHUDI On Social Media</h3>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-pinterest fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-behance fa-stack-1x"></i>
                            </a>
                        </span>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <!-- <div class="section-title">CONTACT</div> -->
                    <h2 class="text-center">Contact Form</h2>
                </div>
                <div class="row justify-content-center">                  
                    <div class="col-lg-12" >
                        <!-- Contact Form -->
                        <form class="email-request-form" id="contactForm" data-toggle="validator" data-focus="false">
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="cname" required>                        
                                <label class="label-control" for="cname">Name</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="cemail" required>
                                <label class="label-control" for="cemail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control-textarea" id="cmessage" required></textarea>
                                <label class="label-control" for="cmessage">Your message</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I agree with Aria's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <small
                                    id="registor-email-result"
                                    class="text-danger"
                                    style="display: none"
                                >
                                    registor email error
                                </small>
                            </div>
                            <div class="form-group">
                                <button id="btn-registor-email" type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                            </div>
                            <!-- <div class="form-message">
                                <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                            </div> -->
                        </form>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <iframe class="mb-4 pt-5 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d984.3955471907602!2d38.78764179066446!3d9.009698687619307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b8556c333f399%3A0x97dd40f63fa6ef9e!2sTESHEAB%20COMMERCIAL%20CENTER!5e0!3m2!1sen!2sbg!4v1638343433679!5m2!1sen!2sbg" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen="" loading="lazy"></iframe>
                            <!-- <iframe class="mb-4 pt-5 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe> -->
                        </div>
                    </div>
                </div>
                <!-- <form class="email-request-form">
                    <div class="form-group">
                      <label for="name">Your name</label>
                         <input type="text" class="form-control" id="name" placeholder="Name">
                      </div>
                      <div class="form-group">
                      <label for="email">Email</label>
                         <input type="text" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                          <label for="message">Message</label>
                      <textarea class="form-control" id="message" rows="3"></textarea>
                     </div>
                     <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                  </form> -->
                <!-- end of contact form -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container about">
                    <h4>Few Words About Aria</h4>
                    <p class="white">We're passionate about creating the best mobile apps for personal develop
                        passionate about creating the best mobile apps for. Personal develop passionate about creating
                        the best mobile apps.</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Links</h4>
                    <ul class="list-unstyled li-space-lg white">
                        <li>
                            <a class="white" href="#your-link">startupguide.com</a>
                        </li>
                        <li>
                            <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                        </li>
                        <li>
                            <a class="white" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Tools</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li>
                            <a class="white" href="#your-link">startupguide.com</a>
                        </li>
                        <li>
                            <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                        </li>
                        <li class="media">
                            <a class="white" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Partners</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li>
                            <a class="white" href="#your-link">startupguide.com</a>
                        </li>
                        <li>
                            <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                        </li>
                        <li>
                            <a class="white" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2021 <a href="https://www.horizontechict.com/">Horizontech ICT
                    Solutions</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->

<div id="toast-conteiner">    
</div>

<div 
    class="fb-customerchat"
    page_id="102706638923887"
    theme_color="#14bf98"
    logged_in_greeting="Hi! How can we help you?"
    logged_out_greeting="GoodBye!... Hope to see you soon."
    minimized="false"
>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
<script src="/js/contact/form.js"></script> <!-- Custom scripts -->
</body>
</html>