<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">    


    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>Chudi Tour and Travel - Places</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="/"><img src="images/logo.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#header">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#intro">INTRO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#services">SERVICES</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="/#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/about">
                        <span class="item-text">About</span>
                    </a>
                    <a class="dropdown-item page-scroll" href="/#team">
                        <span class="item-text">Team</span>
                    </a>
                    <a class="dropdown-item page-scroll" href="/#testimonials">
                        <span class="item-text">Testimonials</span>
                    </a>
                </div>
            </li>
            <!-- end of dropdown menu -->
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/#callMe">CALL US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll active" href="/places">PLACES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="/contact">CONTACT</a>
            </li>   
        </ul>
        <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <span class="hexagon"></span>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
    </div>
</nav>
<!-- end of navbar -->

<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Places</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header>
<!-- end of header -->

<!-- places -->
<div id="projects" class="filter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">                
                <h2>Places Most of Our Tourists Visit</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter -->
                <div class="button-group filters-button-group">
                    <a class="button is-checked" data-filter="*"><span>SHOW ALL</span></a>
                    <a class="button" data-filter=".design"><span>CHURCH</span></a>
                    <a class="button" data-filter=".development"><span>MOSQUE</span></a>
                    <a class="button" data-filter=".marketing"><span>PALACES AND HERITAGES</span></a>
                    <a class="button" data-filter=".seo"><span>ZOO ANIMALS</span></a>
                </div> <!-- end of button group -->
                <div class="grid">
                    <div class="element-item design ">
                        <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Danakil Depression</span></div><img src="images/Danakill-Afar-Dallol.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design ">
                        <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Axum</span></div><img src="images/Axum-Stelae.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Anwar Masjid</span></div><img src="images/project-1.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Al Najashi Masjid</span></div><img src="images/project-2.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item marketing ">
                        <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Fasiledes</span></div><img src="images/project-5.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item marketing ">
                        <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Imperial Palace</span></div><img src="images/project-6.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item marketing ">
                        <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Mursi</span></div><img src="images/project-7.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item seo">
                        <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Black Lion</span></div><img src="images/project-8.jpg" alt="alternative"></a>
                    </div>

                    <div class="element-item design">
                        <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Irrecha</span></div><img src="images/irrecha.jpg" alt="alternative"></a>
                    </div>
                    <div class="element-item design">
                        <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Timket</span></div><img src="images/timket-1.jpg" alt="alternative"></a>
                    </div>

                    <div class="element-item seo">
                        <a class="popup-with-move-anim" href="#project-9"><div class="element-item-overlay"><span>Chilada Baboon</span></div><img src="images/project-9.jpg" alt="alternative"></a>
                    </div>
                </div> <!-- end of grid -->
                <!-- end of filter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->
<!-- end of places -->

<!-- place -->
<div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-6">
            <img class="img-fluid" src="images/Danakill-Afar-Dallol.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <h3>Danakil Depression</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>The Danakil Depression is a desert area in the Afar region of northeastern Ethiopia, north of the Great Rift Valley. This is both the hottest region on earth averaged year round and one of the most geologically active.</p>
            <p>This is the land of “Ardi” (Ardipithecus ramidus) and “Lucy” (Australopithecus afarensis) – hominids which have been proposed as among our first putative ancestors. In June 2010, the oldest direct evidence of stone tool manufacture was found in this region and attributed to Australopithecus afarensis hominids dating back more than three million years ago...</p>
            <!-- <p>Near the southern end of the Red Sea an immense, more or less triangular, depression descends far below sea level – some points near the ghost town of Dallol are nearly 116m below sea level). Known as the Danakil/Dallol Depression, the northern part is extremely hot and dry and an extension of the Great Rift Valley. In this seemingly inhospitable area live the nomadic Afar people who number about 3 million.</p>
            <p>The whole Afar Depression is a plate tectonic triple junction where the spreading submarine ridges that formed the Red Sea and the Gulf of Aden emerge on land and meet the East African Rift. The Afar Depression is one of two places on Earth where a mid-ocean ridge can be studied on land. At present, the Afar is slowly being pulled apart at a rate of 1-2cm per year. The floor of the Afar Depression is composed mostly of basaltic lava. The Afar Depression and Triple Junction also mark the location of a mantle plume, a great uprising of the earth’s mantle that melts to yield basalt.</p>
             --><!-- <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div> -->
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- place -->
<div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-6">
            <img class="img-fluid" src="images/Axum-Stelae.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <h3>Axum</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Axum, is a city in northern Ethiopia named after the long lived Kingdom of Aksum. Located in the Tigray near the base of the Adwa mountains, this town has an elevation of 2130 meters.</p>
            <p>AXUM, the site of Ethiopia’s most ancient city, is today a small town, ignorant of its glorious past. The 16th century Cathedral of St. Mary of Zion is built on the site of a much older church probably resembling that of Debre Damo, dating from the 4th century AD. Only a platform and the wide stone steps remain from the earlier structure...</p>
            
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- place -->
<div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-6">
            <img class="img-fluid" src="images/project-1.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <h3>Anwar Masjid</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Al-Anwar Masjid in Addis Ababa, The largest and the oldest masjid in Addis Ababa, the Al-Anwar Masjid stands in the heart of the open air market of Merkato and was built in 1922. Merkata is believed to be the biggest open air market in Africa. The masjid has a nice architecture with white and green colours.</p>
            
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- place -->
<div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="images/project-4.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-4">
            <h3>Van Moose</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- place -->
<div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-6">
            <img class="img-fluid" src="images/project-5.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <h3>Gondar</h3>
            <hr class="line-heading">
            <h6>Fasilidas</h6>
            <p>The Center of Ethiopian art and culture Gondar, founded by Emperor Fasilidas around 1635, is famous for its many medieval castles and the design and decoration of its churches – in particular, Debra Berhan Selassie which represents a masterpiece of the Gondarene school of art.</p>
            <p>Famous though Gondar may be, however, no one knows exactly why Fasilidas chose to establish his headquarters there. Some legends say an archangel prophesied that an Ethiopian capital would be built at a place with a name that began with the letter G...</p>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- place -->
<div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-8">
            <img class="img-fluid" src="images/project-6.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-4">
            <h3>Spark Events</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
            <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
            <div class="testimonial-container">
                <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                <p class="testimonial-author">General Manager</p>
            </div>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- place -->
<div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-6">
            <img class="img-fluid" src="images/project-7.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <h3>Mursi</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>The Mursi are a Surmic ethnic group in Ethiopia. They principally reside in the Debub Omo Zone of the Southern Nations, Nationalities, and People's Region, close to the border with South Sudan. According to the 2007 national census, there are 11,500 Mursi, 848 of whom live in urban areas; of the total number, 92.25% live in the Southern Nations, Nationalities, and People's Region (SNNPR).</p>
            <p>Surrounded by mountains between the Omo River and its tributary the Mago, the home of the Mursi is one of the most isolated regions of the country. Their neighbors include the Aari, the Banna, the Mekan, the Karo, the Kwegu...</p>
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- place -->
<div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
        <div class="col-lg-6">
            <img class="img-fluid" src="images/timket-1.jpg" alt="alternative">
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <h3>Timket celebration at Gondar</h3>
            <hr class="line-heading">
            <h6>Strategy Development</h6>
            <p>Timket or Epiphany is one of the biggest religious holidays celebrated in Ethiopia every year on the 18th to commemorate the baptism of Jesus Chris by St John the Baptist in the Jordan River. The ceremony begins on the eve of January 18 towards the beginning of the afternoon; priests, deacons, bishops, archbishops, monks, nomes, altar servers in general Christians gather around churches to attend the ceremony of the release of copies of the Ark of the Covenant (of the Tabotes) During the procession, the Tabotes (a wooden altar, like the Ark of the Covenant, which is kept out of the sight of the faithful)are covered by a cloth ...</p>            
            
            <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of lightbox-basic -->
<!-- end of place -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container about">
                    <h4>Few Words About Aria</h4>
                    <p class="white">We're passionate about creating the best mobile apps for personal develop
                        passionate about creating the best mobile apps for. Personal develop passionate about creating
                        the best mobile apps.</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Links</h4>
                    <ul class="list-unstyled li-space-lg white">
                        <li>
                            <a class="white" href="#your-link">startupguide.com</a>
                        </li>
                        <li>
                            <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                        </li>
                        <li>
                            <a class="white" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Tools</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li>
                            <a class="white" href="#your-link">startupguide.com</a>
                        </li>
                        <li>
                            <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                        </li>
                        <li class="media">
                            <a class="white" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Partners</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li>
                            <a class="white" href="#your-link">startupguide.com</a>
                        </li>
                        <li>
                            <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                        </li>
                        <li>
                            <a class="white" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2021 <a href="https://www.horizontechict.com/">Horizontech ICT
                    Solutions</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->

<div id="toast-conteiner">    
</div>

<div 
    class="fb-customerchat"
    page_id="102706638923887"
    theme_color="#14bf98"
    logged_in_greeting="Hi! How can we help you?"
    logged_out_greeting="GoodBye!... Hope to see you soon."
    minimized="false"
>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>